.about-us-box {
    z-index: 5;
    color: var(--text-color);
    margin-top: 7vb;
    width: 100%;
    max-width: 1200px;
    height: 95%;
    padding: 2vw;
    padding-bottom: 0px;
    text-align: center;
    font-family: Arial;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-heading {
    font-size: 2.25vw;
    margin-bottom: 20px;
    color: var(--text-color);
}

.about-us-text {
    font-size: 1.25vw;
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--text-color);
}

.brand-name {
    font-weight: bold;
    color: calc(var(--text-color)-20);
}