.contact-us-box {
    z-index: 5;
    color: var(--text-color);
    margin-top: -7vb;
    width: 100%;
    max-width: 1200px;
    height: 95%;
    padding: 2vw;
    padding-bottom: 0px;
    text-align: center;
    font-family: Arial;
    border-radius: 30px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;

}

.contact-form-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.contact-textarea {
    width: 100%;
    resize: none;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.contact-btn {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 10vw;
    margin: 0 0 40px 0;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #4354ac;
}

.contact-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 50px;
    border-radius: 10vw;
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.contact-info,
a {
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
    color: var(--button-text-color);
    text-decoration: none;
}

a:hover {
    color: calc(var(--text-color)-20);
    font-weight: bold;
}

.contact-item {
    margin-right: 20px;
    display: flex;
    align-items: first baseline;

}

.contact-icon {
    font-size: 1.5rem;
    margin-right: 5px;
}

.social-media-icons {
    display: flex;
}