/* CustomNavbar.css */
.custom-navbar {
    font-family: 'IBM Plex Mono', monospace;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
}

.navbar-item:active {
    color: calc(var(--text-color) - 20);
}

.dark .navbar-brand,
.dark .nav-item,
.dark .theme-icon {
    color: white;
}

.light .navbar-brand,
.light .nav-item,
.light .theme-icon {
    color: #5469D4;
}

.toggle-switch-container {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-switch-checkbox {
    display: none;
}

.light .toggle-switch-ball {
    background-color: #5469D4;
}

.toggle-switch-label {
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 2vw;
    background-color: #ccc;
    border-radius: 3vw;
    cursor: pointer;
}

.toggle-switch-ball {
    position: absolute;
    top: 50%;
    left: 0.3vw;
    width: 1.6vw;
    height: 1.6vw;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.4s;
    transform: translate(0, -50%);
}

.toggle-switch-checkbox:checked+.toggle-switch-label .toggle-switch-ball {
    transform: translate(20px, -50%);
}

.theme-icon {
    margin-left: 10px;
    font-size: 1.5vw;
    transition: 0.3s;
}