/* MainPage.css */

.main-page-container {
    width: calc(100% - 150px);
    max-width: 1200px;
    height: 95%;
    padding: 5vw;
    text-align: center;
    font-family: Arial;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    /* border: solid 2px var(--text-color); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.main-page-heading {
    font-size: 2vw;
}

.main-page-button {
    margin-top: 2vh;
    border-radius: 20px;
    border: none;
    font-size: 3vw;
    background-color: var(--button-color);
    color: var(--button-text-color);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.main-page-button:hover {
    background-color: #4354ac;
    color: aliceblue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .main-page-button {
        font-size: 0.8vw;
    }
}

.main-page-sign-in {
    font-size: 1.25vw;
    width: 100;
    padding: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: first baseline;
}

.main-page-sign-in a {
    font-size: 1vw;
    color: var(--text-color);
    text-decoration: none;
}

.main-page-sign-in a:hover {
    text-decoration: underline;
}

.main-page-image {
    margin-top: 7vb;
    height: 70%;
    width: 100%;

}

.image-svg {
    height: 100%;
    width: auto;
}